<html lang="en">

<%- include('./partials/head.ejs') %>


<body>
<%- include('./partials/head.ejs') %>

    <div class="blogs content">
        <h1>About Us</h1>
        <h2>Your path to becoming a Node.js ninja!</h2>
        <h2>This is a text about us</h2>

    </div>

    <%- include('./partials/footer.ejs') %>

</body>

</html>